{% load widget_tweaks %}

<div class="modal-header">
  <h3 class="modal-title">Detalhes do livro</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class=""><strong>Title: </strong>{{ book.title }}</div>
  <div class=""><strong>Author: </strong>{{ book.author }}</div>
  <div class=""><strong>Price: </strong>R$ {{ book.price }}</div>
  <div class=""><strong>Pages: </strong>{{ book.pages }}</div>
  <div class=""><strong>Type: </strong>{{ book.get_book_type_display }}</div>
  <div class=""><strong>Publication date: </strong>{{ book.publication_date }}</div>
  <div class=""><strong>Editora: </strong>{{ book.editora }}</div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
</div>